<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Aegis Rules" ToolsVersion="17.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.NetAnalyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1707" Action="Warning" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA2007" Action="None" />
  </Rules>
</RuleSet>